:root{
  --content-color: #ffffff;
  --conetent-font-size: 20px;
  --content-font-family: 'Roboto', sans-serif;
  --background-color: hsl(0, 0%, 93%);
  --border-radius: 10px;
  --border-radius-sm: 0px;
  --decrease-with: 8%;
  --content-wrapper-width: 100%;
  --content-wrapper-backg: linear-gradient(120deg, #4774bd 0%, #c2e9fb 100%);
  --overflow: hidden;
  --text-overflow: ellipsis;
  --favorite-button-width: 50%;
  --favorite-button-height: 25%;
  --image-height: 100%;
  --content-wrapper-height-sm: 25%;
  --title-width: 100%;
  --author-width: 100%;
  --sm-text-width-reducer: 3%;
 }

body {
  background-color: var(--background-color);
}

.gallery {
  position: relative;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.image-wrapper {
  position: relative;
  width: 20%;
  margin: 13px;
}

 .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: var(--border-radius);
  transition: visibility 0s, opacity 0.3s linear;
}

.image-wrapper:hover .image-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
}

.lazy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: var(--border-radius);
}

.image-wrapper:hover .lazy-overlay {
  background-color: transparent;
  visibility: hidden;
  opacity: 1;
}

.text-content-wrapper {
  position: absolute;
  top: 17%; /* Sets the position of text on the image. */
  width: calc(var(--content-wrapper-width) - 8%);
  left: 3%; /*text content displayed 3% left to prevent text sticking to the border */
  text-align: center;
}

.title {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: var(--overflow);
  text-overflow: var(--text-overflow);
  font-family: var(--content-font-family);
  font-weight: bold;
  font-size: 15px;
  line-height: 2;
  color: var(--content-color);
}

.author {
  position: relative;
  display: inline-block;
  padding: 6px;
  width: 75%; /*The width that "author" should take on the image */
  text-align: center;
  white-space: nowrap;
  overflow:  var(--overflow);
  font-family: var(--content-font-family);
  font-style: italic;
  font-size: 16px;
  color: var(--content-color);
}


.author::before { /* adds a separator between author and title */
  position: absolute;
  display: block;
  top: -1%;
  left: 50%;
  width: 80%;
  display: block;
  transform: translateX(-50%);
  content: "";
  color: var(--content-color);
  border-top: 2px solid rgb(251, 251, 251);
}

.favorite-button-wrapper {
  position: absolute;
  top: 68%;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: center;
}

.favorite-button {
  width: calc(var(--favorite-button-width) - 9% );
  height: var(--favorite-button-height);
  font-size: 11px;
  border-radius: 92px;
  color: var(--content-color);
  background-color: transparent;
  border: 1px solid rgba(236, 230, 230, 0.5)
}

.favorite-button:focus {
 outline: 0;
}

.favorite-button:hover {
  cursor: pointer;
  background-color: rgba(222, 206, 206, 0.28);
}

.favorite-icon-wrapper {
  position: absolute;
  top: 83%;
  left: 85%;
  z-index: 1;
  display: block;
}

.heart-filled {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.heart-empty {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.heart-filled {
  display: block;
}

 .heart-empty {
  display: none;
}

.image-wrapper:hover .heart-empty {
  display: block;
}

.loading-indicator {
  position: absolute;
  left: 48%;
  height: 40px;
}
/*  -----------------------Media Queries --------------------------*/

@media (min-width: 1440px)  {
  .image-wrapper {
    width: 18%;
    margin: 12px;
  }

  .favorite-button {
    width: calc(var(--favorite-button-width) - 9%);
    height: calc(var(--favorite-button-height) - 1%);
    font-size: 12px;
  }

  .text-content-wrapper {
    top: 19%;
  }

  .title {
    font-size: 18px;
  }

  .author {
    font-size: 19px;
  }

  .favorite-button-wrapper {
    position: absolute;
    top: 67%;
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .image-wrapper {
    position: relative;
    width: 20%;
    margin: 13px;
  }

  .favorite-button {
    width: calc(var(--favorite-button-width) - 2%);
    height: calc(var(--favorite-button-height) - 1%);
    font-size: 11px;
  }

  .title {
    font-size: 15px;
  }

  .author {
    font-size: 15px;
  }

  .heart-filled {
    width: 20px;
    height: 20px;
  }

  .heart-empty {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .image-wrapper {
    width: 20%;
    margin: 13px;
  }

  .favorite-button {
    width: calc(var(--favorite-button-width) - 4%);
    height: calc(var(--favorite-button-height) + 1%);
    font-size: 9px;
  }

  .title {
    font-size: 15px;
  }

  .author {
    font-size: 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  .image {
    border-radius: var(--border-radius-sm);
  }

  .image-wrapper {
    width: 28%;
    margin: 9px;
  }

  .image-overlay {
    visibility: hidden;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.01s linear;
  }

  .image-wrapper:active .image-overlay {
    visibility: visible;
    background-image: var(--content-wrapper-backg);
    opacity: 0.6;
  }


  .image-wrapper:hover .image-overlay {
    background-color: transparent;
  }

  .text-content-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: var(--border-radius-sm);
    top: calc(var(--image-height) - var(--content-wrapper-height-sm));
    opacity: 1;
    background-image: var(--content-wrapper-backg);
    opacity: 0.9;
    width: var(--content-wrapper-width);
    height: var(--content-wrapper-height-sm);
    left: 0;
    justify-content: space-between;
  }

  .title {
    position: absolute;
    margin: 0 0 0 2%;
    -ms-flex-line-pack: left;
    font-size: 11px;
    white-space: nowrap;
    min-width: 0;
    overflow: var(--overflow);
    -o-text-overflow: var(--text-overflow);
    text-overflow: var(--text-overflow);
    padding-bottom: 10%;
    max-width: calc(var(--title-width) - var(--sm-text-width-reducer));
  }

  .author {
    position: absolute;
    margin: 0 0 0 0;
    font-size: 11px;
    white-space: nowrap;
    min-width: 0;
    overflow: var(--overflow);
    -o-text-overflow: var(--text-overflow);
    text-overflow: var(--text-overflow);
    min-width: 0;
    width: max-content;
    padding: 10% 0 0 3%;
    max-width: calc(var(--author-width) - var(--sm-text-width-reducer));
  }

  .author::before {
    display: none;
  }

  .favorite-icon-wrapper {
    position: absolute;
    top: 12%;
    left: 7%;
    z-index: 1;
    display: block;
  }

  .heart-filled {
    width: 18px;
    height: 18px;
  }

  .heart-empty {
    width: 18px;
    height: 18px;
  }

  .favorite-button {
    display: none;
  }
}

@media (max-width: 480px) and (min-width: 376px)  {
  .image-wrapper {
    box-sizing: border-box;
    width: 41%;
    left: 0;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-sm);
    box-shadow: none;
  }

  .image-overlay {
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s, opacity 0.01s linear;
  }

  .image-wrapper:active .image-overlay {
    visibility: visible;
    background-image: var(--content-wrapper-backg);
    opacity: 0.6;
  }

  .image-wrapper:hover .image-overlay {
    background-color: transparent;
  }

  .text-content-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: var(--border-radius-sm);
    top: calc(var(--image-height) - var(--content-wrapper-height-sm));
    opacity: 1;
    background-image: var(--content-wrapper-backg);
    opacity: 0.9;
    width: var(--content-wrapper-width);
    height: var(--content-wrapper-height-sm);
    left: 0%;
    justify-content: center;
    align-items: flex-start;
  }

  .title {
    position: absolute;
    margin: 0 0 0 2%;
    -ms-flex-line-pack: left;
    font-size: 11px;
    white-space: nowrap;
    min-width: 0;
    overflow: var(--overflow);
    text-overflow: var(--text-overflow);
    text-overflow: var(--text-overflow);
    padding-bottom: 10%;
    max-width: calc(var(--title-width) - var(--sm-text-width-reducer));
  }

  .author {
    position: absolute;
    margin: 0 0 0 0;
    font-size: 11px;
    white-space: nowrap;
    min-width: 0;
    overflow: var(--overflow);
    -o-text-overflow: var(--text-overflow);
    text-overflow: var(--text-overflow);
    min-width: 0;
    width: max-content;
    padding: 10% 0 0 3%;
    max-width: calc(var(--author-width) - var(--sm-text-width-reducer));
  }

  .author::before {
    display: none;
  }

  .favorite-icon-wrapper {
    position: absolute;
    top: 12%;
    left: 7%;
    z-index: 1;
    display: block;
  }

  .heart-filled  {
    width: 18px;
    height: 18px;
  }

  .heart-empty {
    display: block;
  }

  .favorite-button {
    display: none;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 375px)  and (min-width: 321px) {
  .image-wrapper {
    box-sizing: border-box;
    left: 0;
    width: 41%;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-sm);
    box-shadow: none;
  }

  .image-overlay {
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s, opacity 0.01s linear;
  }

  .image-wrapper:active .image-overlay {
    visibility: visible;
    background-image: var(--content-wrapper-backg);
    opacity: 0.6;
  }

  .image-wrapper:hover .image-overlay {
    background-color: transparent;
  }

  .text-content-wrapper {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    border-radius: var(--border-radius-sm);
    top: calc(var(--image-height) - var(--content-wrapper-height-sm));
    opacity: 1;
    background-image: var(--content-wrapper-backg);
    opacity: 0.9;
    width: var(--content-wrapper-width);
    height: var(--content-wrapper-height-sm);
    left: 0;
    justify-content: center;
    align-items: flex-start;
  }

  .title {
    position: absolute;
    margin: 0 0 0 3%;
    font-size: 9px;
    white-space: nowrap;
    min-width: 0;
    overflow: var(--overflow);
    text-overflow: var(--text-overflow);
    text-overflow: var(--text-overflow);
    padding-bottom: 10%;
    max-width: calc(var(--title-width) - var(--sm-text-width-reducer));
  }

  .author {
    position: absolute;
    margin: 0 0 0 0;
    font-size: 11px;
    white-space: nowrap;
    min-width: 0;
    overflow: var(--overflow);
    -o-text-overflow: var(--text-overflow);
    text-overflow: var(--text-overflow);
    min-width: 0;
    width: max-content;
    padding: 10% 0 0 3%;
    max-width: calc(var(--author-width) - var(--sm-text-width-reducer));
  }


  .author::before {
    display: none;
  }

  .favorite-icon-wrapper {
    position: absolute;
    top: 12%;
    left: 7%;
    z-index: 1;
    display: block;
  }

  .heart-filled {
    width: 14px;
    height: 14px;
  }

  .heart-empty {
    width: 14px;
    height: 14px;
    display: block;
  }

  .favorite-button {
    display: none;
  }
}

@media (max-width: 320px) {
  .image-wrapper {
    width: 100%;
  }

  .image {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius:  var(--border-radius-sm);
  }

  .image-overlay {
    visibility: hidden;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.01s linear;
  }

  .image-wrapper:active .image-overlay {
    visibility: visible;
    background-image: var(--content-wrapper-backg);
    opacity: 0.6;
  }


  .image-wrapper:hover .image-overlay {
    background-color: transparent;
  }

  .text-content-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: var(--border-radius-sm);
    top: calc(var(--image-height) - calc(var(--content-wrapper-height-sm) - 5%));
    opacity: 1;
    background-image: var(--content-wrapper-backg);
    opacity: 0.9;
    width: var(--content-wrapper-width);
    height: calc(var(--content-wrapper-height-sm) - 5%);
    left: 0;
    justify-content: center;
    align-items: flex-start;
  }

  .title {
    position: absolute;
    margin: 0 0 0% 2%;
    font-size: 11px;
    white-space: nowrap;
    min-width: 0;
    overflow: var(--overflow);
    text-overflow: var(--text-overflow);
    text-overflow: var(--text-overflow);
    padding-bottom: 0;
    max-width: calc(var(--title-width) - var(--sm-text-width-reducer));
  }

  .author {
    position: absolute;
    margin: 0% 0 0 0%;
    font-size: 11px;
    white-space: nowrap;
    min-width: 0;
    overflow: var(--overflow);
    -o-text-overflow: var(--text-overflow);
    text-overflow: var(--text-overflow);
    min-width: 0;
    width: max-content;
    padding: 8% 0 0 2%;
    max-width: calc(var(--author-width) - 2%);
  }

  .author::before {
    display: none;
  }

  .favorite-icon-wrapper {
    position: absolute;
    display: block;
    top: 12%;
    left: 7%;
    z-index: 1;
  }

  .heart-filled .heart-empty {
    width: 18px;
    height: 18px;
  }

  .heart-empty {
    display: block;
  }

  .favorite-button {
    display: none;
  }
  /* .loading-indicator {
    display: none;
  } */
}

